*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   
}

.menu {
 background-color: black;
  border-radius: 9%;
  width: 60px;
  height: 60px;
  position: fixed; 
  bottom: 55px;
  right: 26px;
  box-shadow:black;
}

.hamburguer {
  position: relative;
  display: block;
  background: white;
  width: 30px;
  height: 2px;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;


}

.hamburguer:before,
.hamburguer:after {
    background: white;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

input:checked ~ label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
.menu {
    cursor: pointer;
    box-shadow: 0 0 0 0 white, 0 0 0 0 white;
    transition: box-shadow 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .menu:hover {
    box-shadow: 0 0 0 8px black, 0 0 0 8px black;
  }
  
 
  input:checked ~ label .menu {
    box-shadow: 0 0 0 130vw white, 0 0 0 130vh white;
  }
  
 
  input:checked ~ ul {
    opacity: 1;
  }
  

  ul {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    list-style: none;
    font-size: 28px;
    opacity: 0;
    transition: 0.25s 0.1s cubic-bezier(0, 1.07, 0, 1.02);
    z-index: 2;
    position: fixed;
  }
  
  .a1 {
   color: rgb(92, 173, 56);
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
  }

  li{
    color: white;
  }
  .img{
margin-left: 8PX;
height: 120px;
margin-top: 10px;
  }

  .area{
 
    width:100%;
   
    background-color: white;
  }
  .a1 {
    color: rgb(92, 173, 56);
     display: block;
     margin-bottom: 1em;
     text-decoration: none;
   }
   .a1:hover {
    color: black;
     display: block;
     margin-bottom: 1em;
     text-decoration: none;
   }
   
  .area2{
 
    width:100%;
    
    
  }
  .sub1{

    text-align: center;
    font-family: 'Comfortaa', cursive;
  }
    
  .area3{
 
    width:100%;
    
    background-color: rgb(92, 173, 56);}
    .h2green{
        color: rgb(92, 173, 56);
        text-align: center;
    font-family: 'Comfortaa', cursive;
    }
    html,body { overflow-x: hidden; }
    /*tirar barra de rolagem horizontal*/
h4{
  text-align: center;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.but{
  width: 500px;
  height: 100px;

  color: white;
  background-color: yellow;

}
.quaren{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 10px;
  color: white;
}
.subh5{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 10px;
  color: white;
}
.area4{
  width:100%;
    height: 400%;
   

}
.final{
  text-align: center;
  font-family: 'Comfortaa', cursive;
  
}
.img2{
  height: 400px;
  width: 700px;
}
.efeito{
  border: none;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}
.efeito-3{
  background:  rgba(0,0,0,0) ;
  color: rgb(92, 173, 56);
  width: 500px;
  height: 100px;
  box-shadow: inset 0 0 0 2px rgb(92, 173, 56);
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
}

.efeito-3:hover{
  background-color:rgb(92, 173, 56);
  color: white;
  box-shadow: inset 0 0 0 3px rgb(92, 173, 56);
  width: 500px;
  height: 100px;
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
  
}
.area5{
  width:100%;
    height: 400%;
   

}
.area6{
  width:95%;
   
   background-color: rgb(92, 173, 56);
   border-radius: 25px;

}
.imgcel{
  width:450px;


}
.area7{
  
  width:100%;
  



}
.imgicon{
  float: left;
}

.areaperde{
  width:95%;
 border-radius: 25px;
  background-color:rgb(92, 173, 56) ;

}
.h2white{
  color: white;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}


.areaicon1{
  height: 100%;
  width: 100%;
  background-color: white;
}
.areaicontexto{
  width: 210px;
  height: 205px;
border-radius: 25px;  background-color: rgb(92, 173, 56) ;
text-align: center;
font-family: 'Comfortaa', cursive;
color: white;
}
.nutri{
  width: 100%;

  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.days7{
  width: 95%;
  font-family: 'Comfortaa', cursive;
  text-align: center; background-color:rgb(92, 173, 56) ;
  border-radius: 25px;

}
.areausuario{

  width: 100%;

  /* background-color: black; */
  border-radius: 25px;
  font-family: 'Comfortaa', cursive;
  color: black;
  text-align: center;
}
.efeito1{
  border: none;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}
.efeito-31{
  background:  rgba(0,0,0,0) ;
  color: black;
  width: 500px;
  height: 100px;
  box-shadow: inset 0 0 0 2px black;
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
}

.efeito-31:hover{
  background-color:black;
  color:white;
  box-shadow: inset 0 0 0 3px black;
  width: 500px;
  height: 100px;
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
  
}
.efeito2{
  border: none;
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 400ms ease;
}
.efeito-32{
  background:  rgba(0,0,0,0) ;
  color: rgb(92, 173, 56) ;
  width: 500px;
  height: 100px;
  box-shadow: inset 0 0 0 2px rgb(92, 173, 56) ;
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
}

.efeito-32:hover{
  background-color:black;
  color:white;
  box-shadow: inset 0 0 0 3px black;
  width: 500px;
  height: 100px;
  font-family:'Comfortaa', cursive ;
  font-size: 20px;
  
}
.areaperguntas{
  width: 305px;
  
  background-color:rgb(92, 173, 56) ;
  font-family:'Comfortaa', cursive ;
  text-align: center;
  border-radius: 25px;
}
.areavideos{
  width: 95%;
  background-color:rgb(92, 173, 56)  ;
  border-radius: 25px;
}
.imgs{
  border-radius: 25px;
  height: 250px;
  width: 260px;
}